@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
body {
  height: 100vh;
  background-image: url("./assets/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
DialogContent{
  background-image: url("./assets/Swirl.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
/* .custom-scrollbar::-webkit-scrollbar {
  width: 20px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #181f29; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 2pc; 
  border: 3px solid #181f29; 
} */
.custom-scrollbar {
  scrollbar-width: medium;
  scrollbar-color: #000000 #181f29;
  scroll-behavior: smooth;
  
}