@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
body {
  height: 100vh;
  background-image: url("./assets/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
DialogContent{
  background-image: url("./assets/Swirl.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}